{% load staticfiles %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>Title</title>
</head>
<body>
<div class="container">
<p><a href="create_view/">Создать задачу</a></p>
{% for todo in todo_list %}
    <div>
        <h3>{{todo.title }}</h3>
        <p>{{ todo.status }}</p>
        {% if todo.data != None %}
        <p>{{ todo.data }}</p>
        {% else  %}
        <p>Дата не указана</p>
        {% endif %}
    </div>
{% endfor %}
</div>
</body>
</html>