{% extends 'base.html' %}

{% block title %}todo_list{% endblock %}
{% block content %}
{% for todo in todo_list %}
    <div>
       <p><a href="{% url 'todo_view' todo.pk %}">More...</a></p>
        <p><a href="{% url 'todo_update' todo.pk %}">Edit</a></p>
        <p><a href="{% url 'todo_delete' todo.pk %}">Delete</a></p>
        <p>{{ todo.title }}</p>
        <p>{{ todo.status }}</p>
        {% if todo.data != None %}
        <p>{{ todo.data }}</p>
        {% else  %}
        <p>Дата не указана</p>
        {% endif %}
    </div>
{% endfor %}
{% endblock %}